#my-pic {
    margin-top: 200px;
    margin-left: calc(50% - 100px);
    border-radius: 10%;
}

.intro-sec {
    width: 600px;
    text-align: center;
    margin-left: calc(50% - 300px);
    
    p {
        font-family: 'Inconsolata', monospace;
        font-size: 22px;
    }
}