<img src="../assets/my_pic.jpg" alt="sulabh prasad" width="200px" height="200px" id="my-pic" />
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content"> 
    <a routerLink="/services">Services</a>
    <a href="/clients">Clients</a>
    <a href="/contact">Contact</a>
  </div>
</div>
<div class="intro-sec">
  <h2>Hi, I am Sulabh Prasad.</h2>
  <p>
    I help startups bring their ideas to life. Powered by Angular, React, Spring, Node and coffee, I turn your
    requirements into live working websites on time and on budget. 
  </p>
  <p>
    I don't mind working on existing web sites as well 😜
  </p>
  <p>
    Want to talk? Contact me at sulabhprasad8002@gmail.com (7003513982)
  </p>
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Know more</span>
</div>
